{% extends 'base.html.twig' %}

{% block title %}Détail de l'article{% endblock %}

{% block body %}
<h1>Bolonews</h1>

<div class="example-wrapper">
    <div class="article-card">
        <h3>{{ article.titre }}</h3>
        <p><strong>Catégorie :</strong> {{ article.categorie.libelle }}</p>
        <p><em>{{ article.chapeau }}</em></p>
        
        {% if article.image %}
            <div class="image-article2">
                <img src="{{ asset('uploadimage/' ~ article.image) }}" alt="illustration">
            </div>
        {% endif %}
        <div>{{ article.contenu|nl2br }}</div>

        <p>🕒 Publié le {{ article.dateCreation|date('d/m/Y H:i') }}</p>
        <p>👤 Auteur : {{ article.auteur.pseudo ?? 'Inconnu' }}</p>
        <a href="{{ path('app_accueil') }}">⬅ Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
